*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
ext/esqlver.h
ext/_informixcdcmodule.c
ext/example.ec
*.swp

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
test.ksh
godb.ksh
.env
ifx_lo_read.in

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
